name: Docker build and ACR push

permissions:
  id-token: write
  contents: read
on:
  push:
    branches:
      - "feature**"

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Login to Azure using App Registration + Secret
      - name: Azure CLI Login
        uses: azure/login@v2
        with:
          auth-type: service_principal
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}
          allow-no-subscriptions: true

      # Login to ACR
      - name: ACR Login
        run: |
          az acr login --name ${{ secrets.ACR_LOGIN_SERVER }}

      # Build Docker image
      - name: Build Docker Image
        run: |
          docker build -t ${{ secrets.ACR_LOGIN_SERVER }}/hello-world:${{ github.sha }} ./3-Tier-gitops-ci


      # Push Docker image
      - name: Push Image
        run: |
          docker push ${{ secrets.ACR_LOGIN_SERVER }}/hello-world:${{ github.sha }}
          echo "pushed"
